@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'),
        url('Fonts/Gilroy-Bold.woff2') format('woff2'),
        url('Fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local(Gilroy-Medium),
        url('Fonts/Gilroy-Medium.woff2') format('woff2'),
        url('Fonts/Gilroy-Medium.woff') format('woff');
}

* {
    box-sizing: border-box;
}

.root {
    margin: 0 auto;
    max-width: 1445px;
    font-family: 'Gilroy-Bold', Arial, Helvetica, serif;
    font-size: 18px;
    line-height: 22px;
}

/* Начало секции header */
.header {
    margin: 0 auto;
    padding: 33px 0 32px;
    max-width: 945px;
    border-bottom: 1px solid #828282;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .header {
        margin: 0 39.5px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .header {
        display: none;
    }
}

.header__list {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.header__item-anchor {
    color: #828282;
    text-decoration: none;
}

.header__item-anchor:hover {
    color: #131313;
}

.header__item-span {
    color: #000;
    cursor: default;
}

/* Начало секции profile */
.profile {
    margin: 0 auto;
    padding: 40px 0 100px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    align-items: center;
    row-gap: 30px;
    max-width: 945px;
}

@media screen and (max-width: 1024px) {
    .profile {
        margin: 0 39.5px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .profile {
        margin: 0 29.5px;
        padding-bottom: 60px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
}

@media screen and (max-width: 767px)  {
    .profile__cover {
        flex-direction: column;
    }
}

.profile__name {
    margin: 0;
    width: 125px;
    font-family: Gilroy-Bold;
    font-size: 47px;
    line-height: 59px;
}

.profile__details {
    margin: 0;
    width: 155px;
    justify-self: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .profile__details {
        justify-self: start;
    }
}
.profile__lang-btn {
    padding: 0;
    max-width: 65px;
    max-height: 20px;
    justify-self: end;
    background-color: rgba(0,0,0,0);
    border: 0;
    transform: rotate(-90deg);
    cursor: pointer;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .profile__lang-btn {
        display: none;
    }
}

.profile__menu-popup {
    padding: 0;
    max-width: 30px;
    display: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}

.profile__menu-popup:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .profile__menu-popup {
        display: unset;
        align-self: start;
        justify-self: end;
    }

}

.profile__menu-icon {
    max-width: 30px;
}

.profile__lang-span--inactive {
    color: #828282;
}

.profile__img {
    margin: 0 auto;
    width: 100%;
    grid-column: span 3;
    background-image: url(https://images.unsplash.com/photo-1597226247284-42de299dbff3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTh8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    aspect-ratio: 2/1;
}

@media screen and (max-width: 767px) and (min-width: 320px){
    .profile__img {
        grid-column: span 2;
    }
}

/* Начало секции about */
.about {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F6F6F6;
}


.title {
    margin: 0 auto;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.about__description {
    margin: 0;
    max-width: calc(315px + (485 - 315) * (100vw - 320px) / (768 - 320)); 
    white-space: pre-line;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

/* Начало секции skills */
.skills {
    padding: 80px 0 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills__subtitle {
    margin: 0;
    padding-top: 30px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.skills__list {
    margin: 0;
    padding: 65px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc(0px + 90 * ((100vw - 1024px) / (426)));
}

@media screen and (max-width: 767px) {
    .skills__list {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
}

@media screen and (max-width: 475px) {
    .skills__list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 10px;
    }
}

.skills__item {
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills__item-figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__item-icon {
    margin: 0 0 24px;
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.skills__item-figcaption {
    margin: 0 auto 30px;
    width: 80px;
    height: 30px;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.skills__form-stars {
    margin: 0 auto;
    display: inline-block;
    direction: rtl;
}

.skills__input-star {
    display: none;
}

.skills__label-star {
    color: #000;
    cursor: pointer;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .skills__label-star {
        font-size: 25px;
    }
}

.skills__label-star--photoshop:hover,
.skills__label-star--photoshop:hover ~ .skills__label-star--photoshop,
.skills__input-star--photoshop:checked ~ .skills__label-star--photoshop {
    color: #31C5F0;
}

.skills__label-star--illustrator:hover,
.skills__label-star--illustrator:hover ~ .skills__label-star--illustrator,
.skills__input-star--illustrator:checked ~ .skills__label-star--illustrator {
    color: #FF7F18;
}

.skills__label-star--aftereffects:hover,
.skills__label-star--aftereffects:hover ~ .skills__label-star--aftereffects,
.skills__input-star--aftereffects:checked ~ .skills__label-star--aftereffects {
    color: #9c10ff;
}

.skills__label-star--figma:hover,
.skills__label-star--figma:hover ~ .skills__label-star--figma,
.skills__input-star--figma:checked ~ .skills__label-star--figma {
    color: #1affa7;
}

/* Начало секции portfolio */
.portfolio {
    padding: 50px 0;
    background-color: #F6F6F6;
}

.title--portfolio {
    margin: 0 auto 50px;
}

.portfolio__slider {
    margin: 0 auto;
    max-width: 935px;
}

.portfolio__slider-name {
    margin: 0 auto 15px;
    text-align: center;
}

.portfolio__slider-img {
    margin: 15px 0 35px;
    width: 100%;
    object-fit: cover;
}

.portfolio__slider-cover {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.portfolio__slider-btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid black;
    border-width: 0 0 2px 2px;
}

.portfolio__slider-btn--prev {
    transform: rotate(45deg);
}

.portfolio__slider-btn--prev:hover {
    transform: translate(-3px) rotate(45deg);
}

.portfolio__slider-btn--next {
    transform: rotate(-135deg);
}

.portfolio__slider-btn--next:hover {
    transform: translate(3px) rotate(-135deg);
}

.portfolio__slider-pagination {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.portfolio__slider-pagination:hover {
    cursor: pointer;
    background: black;
}

.portfolio__slider-pagination--active {
    background: black;
}

.portfolio__slider-pagination--active:hover {
    cursor: default;
}

/* Начало секции contacts */
.contacts {
    padding: 75px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title--contacts {
    margin: 0 auto 20px;
}

.contacts__description {
    margin: 0 auto 30px;
    max-width: 275px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.contacts__btn-send {
    padding: 10px;
    width: 180px;
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-family: Gilroy-medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .contacts__btn-send {
        width: calc(260px - (260 - 180) * ((100vw - 320px) / (767 - 320)));
    }
}

.contacts__btn-send:hover {
    background: #202020;
    border-color: #202020;
}

/* Начало секции footer */
.footer {
    margin: 0 0 120px;
}

.footer__list {
    margin: 0 auto 45px;
    padding: 0;
    display: flex;
    gap: 60px;
    justify-content: center;
    list-style: none;
}

.footer__item-icon {
    width: 40px;
    height: 40px;
}

.footer__text {
    white-space: pre-line;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}